body {
}
.navv ul li{
    float:left;
    list-style:none;
    margin:15px;
    color:white;
}
.navv ul li a{
    color:white;
    text-shadow:none;
    text-decoration:none;
}

.navv {
    width: 100%;
    height: 50px;
    background-color: #fd930b;
}

.navv ul li a:hover {
        color: #0471c9;
    }
.esenler {
    background-color: #e4e4e4;
}
